@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --o-color-gray-50: #F9F9F9;
  --o-color-gray-100: #EBEBEB;
  --o-color-gray-200: #DBDBDB;
  --o-color-gray-300: #BDBDBD;
  --o-color-gray-400: #929292;
  --o-color-gray-500: #6E6E6E;
  --o-color-gray-600: #545454;
  --o-color-gray-700: #313131;
  --o-color-gray-800: #232323;
  --o-color-gray-900: #111;

  --o-color-brand-50: #FFF7F5;
  --o-color-brand-100: #FFE5E1;
  --o-color-brand-200: #FFC9C3;
  --o-color-brand-300: #FFABA5;
  --o-color-brand-400: #FF8B87;
  --o-color-brand-500: #FF5C5C;
  --o-color-brand-600: #D55156;
  --o-color-brand-700: #AA3C43;
  --o-color-brand-800: #802932;
  --o-color-brand-900: #551921;


  --o-color-green-50: #EEF8ED;
  --o-color-green-100: #D5F0D3;
  --o-color-green-200: #ADE2AA;
  --o-color-green-300: #87D385;
  --o-color-green-400: #65C564;
  --o-color-green-500: #46B647;
  --o-color-green-600: #39983B;
  --o-color-green-700: #2C792F;
  --o-color-green-800: #205B24;
  --o-color-green-900: #153D18;


  --o-color-blue-50: #ECF7FF;
  --o-color-blue-100: #D0EAFF;
  --o-color-blue-200: #A1D3FE;
  --o-color-blue-300: #72BBFE;
  --o-color-blue-400: #43A2FD;
  --o-color-blue-500: #1487FD;
  --o-color-blue-600: #0B6DD9;
  --o-color-blue-700: #0355B6;
  --o-color-blue-800: #004192;
  --o-color-blue-900: #002F6E;

  --o-color-yellow-50: #FFFEEC;
  --o-color-yellow-100: #FFFBD0;
  --o-color-yellow-200: #FEF3A1;
  --o-color-yellow-300: #FEE972;
  --o-color-yellow-400: #FDDC43;
  --o-color-yellow-500: #FDCB14;
  --o-color-yellow-600: #D39F0F;
  --o-color-yellow-700: #A9770A;
  --o-color-yellow-800: #7F5306;
  --o-color-yellow-900: #543303;

  --o-color-no-data-999: #999999;

  --o-color-ecosystem-tag: #FF5CA5;

  --color-progrss-bg: linear-gradient(90.00deg, rgb(255, 92, 92) 50%, rgb(255, 201, 195) 99.99%);

  --radius: 8px;

  --modal-header-z-index: 1200;
  --modal-bg-z-index: 1201;
  --modal-z-index: 1202;

  --o-color-select-border: rgba(255, 255, 255, 0.12);

  --modal-toaster-z-index: 1299;

  --o-color-black: #000000;
  --o-color-white: #FFFFFF;

  /* --o-color-text-t1: #1A1A1A;
  --o-color-text-t2: #545454;
  --o-color-text-t3: #929292;
  --o-color-text-t4: #DBDBDB; */

  --o-color-text-t1: #F9F9F9;
  --o-color-text-t2: #DBDBDB;
  --o-color-text-t3: #929292;
  --o-color-text-t4: #545454;

  --o-prizes-reward-amount: #FFD166;
  --o-prizes-pool-amount: #FFC47D;
  --o-prizes-pool-tx-amount: #FF4F4F;
  --o-prizes-card-border: #452330;
  --o-prizes-card-border: #452330;
  --o-prizes-module-card-border: rgba(69, 35, 48, 0.6);
  --o-prizes-task-bg: #201338;


  --o-reward-card-bg: linear-gradient(175.64deg, rgb(255, 251, 236) 1.289%, rgb(255, 202, 170) 101.85%);
  --o-prizes-color-progress-bg: linear-gradient(90.00deg, rgb(239, 47, 45), rgb(255, 102, 101) 100%);

  --o-color-desction: rgba(255, 255, 255, 0.6);

}

@media (prefers-color-scheme: dark) {
  :root {

    --o-color-green-50: #F4F8EE;
    --o-color-green-100: #E5F1D3;
    --o-color-green-200: #CCE3AB;
    --o-color-green-300: #B3D586;
    --o-color-green-400: #9BC765;
    --o-color-green-500: #84B947;
    --o-color-green-600: #6C9A3A;
    --o-color-green-700: #547B2D;
    --o-color-green-800: #3E5D21;
    --o-color-green-900: #283E15;


    --o-color-blue-50: #EBF9FE;
    --o-color-blue-100: #CEEFFC;
    --o-color-blue-200: #9EDFF9;
    --o-color-blue-300: #6ECCF7;
    --o-color-blue-400: #40B9F4;
    --o-color-blue-500: #13A5F1;
    --o-color-blue-600: #0A87CD;
    --o-color-blue-700: #036BAA;
    --o-color-blue-800: #005186;
    --o-color-blue-900: #003A62;


    /* --o-color-text-t1: #F9F9F9;
    --o-color-text-t2: #DBDBDB;
    --o-color-text-t3: #929292;
    --o-color-text-t4: #545454; */
  }
}


@layer components {
  .o-text-t1 {
    color: var(--o-color-text-t1);
  }

  .o-text-t2 {
    color: var(--o-color-text-t2);
  }

  .o-text-t3 {
    color: var(--o-color-text-t3);
  }

  .o-text-t4 {
    color: var(--o-color-text-t4);
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  color: var(--o-color-gray-50);
  /* background: linear-gradient(180.00deg, rgb(0, 7, 9), rgb(7, 18, 22) 99.666%); */
  font-family: "Clash-Grotesk-Regular";
  color-scheme: light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  border: 0 none;
  background-color: transparent;
  outline-style: none;
}


button.not-active {
  color: var(--o-color-gray-600);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.o-image-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

inpurt::placeholder {
  color: var(--o-color-gray-600);
}

.quests-point-card {
  clip-path: polygon(0 0, 84% 0, 100% 88%, 100% 100%, 0 100%);
}

.ecosystem-progress-bg {
  background: var(--color-progrss-bg);
}

.backdrop-filter-12 {
  backdrop-filter: blur(12px);
}

.orbiter_global_ecosystem_dapp_condition_pink {
  white-space: nowrap;
  font-weight: 700;
  color: #f81e96;
  font-family: "Clash-Grotesk-SemiBold";
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-left: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--o-color-gray-700);
  margin-left: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
  margin-left: 10px;
}

.o-zoom-87 {
  zoom: 0.87;
}

.orbiter-main {
  background: url("https://cdn.orbiter.finance/bridge-web/main-bg.png") no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: 50% 0;
}

.lucide {
  stroke-width: 1.5;
}

.card {
  width: 500px;
  height: 500px;
  /* background-color: rgba(0, 0, 0, 0.05); */
  background: rgba(255, 214, 214, 0.2);
  box-sizing: border-box;

  box-shadow: 0px 0px 48px 0px rgb(0, 0, 0);
  backdrop-filter: blur(72px);
  /* position: relative;
  overflow: hidden;
  z-index: 2; */
}

.card-child {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(72px);
}


.card-top {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 999px;
  background: linear-gradient(195.11deg, rgb(255, 255, 255) 4.923%, rgba(255, 247, 196, 0.8) 88.778%);
  opacity: 0.23;
  width: 80px;
  height: 80px;
  filter: blur(34px);
  z-index: -1;
}

.card-bottom {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border-radius: 999px;
  filter: blur(34px);
  background: linear-gradient(206.57deg, rgba(247, 196, 255, 0.8), rgb(255, 53, 53) 93.498%);
  opacity: 0.42;
  width: 139px;
  height: 76px;
  z-index: -1;
}

.card-content {
  width: 100%;
  height: 100%;
}

.o-linear-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  letter-spacing: 0px;
}

body .swiper-button-prev,
body .swiper-button-next {
  color: rgb(255, 177, 177);
}

body .swiper-button-prev::after,
body .swiper-button-next::after {
  font-size: 1.5rem;
}

.tips-group:hover .tips-content {
  display: flex;
}



.o-reward-card-text {
  background-image: linear-gradient(180.00deg, rgb(253, 203, 20), rgb(255, 92, 92));
}

.o-reward-card-bg {
  background: var(--o-reward-card-bg);
}

.recharts-tooltip-cursor {
  fill: var(--o-color-gray-800);
}

.point-rank-top {
  background: url("/assets/image/main/point-rank.png") no-repeat;
  background-size: cover;
  background-position: 0 0;
}