@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --o-color-gray-50: #F9F9F9;
  --o-color-gray-100: #EBEBEB;
  --o-color-gray-200: #DBDBDB;
  --o-color-gray-300: #BDBDBD;
  --o-color-gray-400: #929292;
  --o-color-gray-500: #6E6E6E;
  --o-color-gray-600: #545454;
  --o-color-gray-700: #313131;
  --o-color-gray-800: #232323;
  --o-color-gray-900: #111;

  --o-color-brand-50: #FFF7F5;
  --o-color-brand-100: #FFE5E1;
  --o-color-brand-200: #FFC9C3;
  --o-color-brand-300: #FFABA5;
  --o-color-brand-400: #FF8B87;
  --o-color-brand-500: #FF5C5C;
  --o-color-brand-600: #D55156;
  --o-color-brand-700: #AA3C43;
  --o-color-brand-800: #802932;
  --o-color-brand-900: #551921;


  --o-color-green-50: #EEF8ED;
  --o-color-green-100: #D5F0D3;
  --o-color-green-200: #ADE2AA;
  --o-color-green-300: #87D385;
  --o-color-green-400: #65C564;
  --o-color-green-500: #46B647;
  --o-color-green-600: #39983B;
  --o-color-green-700: #2C792F;
  --o-color-green-800: #205B24;
  --o-color-green-900: #153D18;


  --o-color-blue-50: #ECF7FF;
  --o-color-blue-100: #D0EAFF;
  --o-color-blue-200: #A1D3FE;
  --o-color-blue-300: #72BBFE;
  --o-color-blue-400: #43A2FD;
  --o-color-blue-500: #1487FD;
  --o-color-blue-600: #0B6DD9;
  --o-color-blue-700: #0355B6;
  --o-color-blue-800: #004192;
  --o-color-blue-900: #002F6E;

  --o-color-yellow-50: #FFFEEC;
  --o-color-yellow-100: #FFFBD0;
  --o-color-yellow-200: #FEF3A1;
  --o-color-yellow-300: #FEE972;
  --o-color-yellow-400: #FDDC43;
  --o-color-yellow-500: #FDCB14;
  --o-color-yellow-600: #D39F0F;
  --o-color-yellow-700: #A9770A;
  --o-color-yellow-800: #7F5306;
  --o-color-yellow-900: #543303;

  --o-color-ecosystem-tag: #FF5CA5;

  --color-progrss-bg: linear-gradient(90.00deg, rgb(255, 92, 92) 50%,rgb(255, 201, 195) 99.99%);;

  --radius: 8px;

  --modal-bg-z-index: 1201;
  --modal-z-index: 1202;

  --o-color-select-border: rgba(255, 255, 255, 0.12);

  --modal-toaster-z-index: 1299;

  --o-color-black: #000000;
  --o-color-white: #FFFFFF;

}

@media (prefers-color-scheme: dark) {
  :root {
    --o-color-green-50: #F4F8EE;
    --o-color-green-100: #E5F1D3;
    --o-color-green-200: #CCE3AB;
    --o-color-green-300: #B3D586;
    --o-color-green-400: #9BC765;
    --o-color-green-500: #84B947;
    --o-color-green-600: #6C9A3A;
    --o-color-green-700: #547B2D;
    --o-color-green-800: #3E5D21;
    --o-color-green-900: #283E15;


    --o-color-blue-50: #EBF9FE;
    --o-color-blue-100: #CEEFFC;
    --o-color-blue-200: #9EDFF9;
    --o-color-blue-300: #6ECCF7;
    --o-color-blue-400: #40B9F4;
    --o-color-blue-500: #13A5F1;
    --o-color-blue-600: #0A87CD;
    --o-color-blue-700: #036BAA;
    --o-color-blue-800: #005186;
    --o-color-blue-900: #003A62;
  }
}

@layer components {
  .orbiter-modal-card-animation {
    animation: orbiter-modal-card-animation 0.6s ease forwards;
  }

  .orbiter-modal-card-animation-mobile {
    animation: orbiter-modal-card-animation-mobile 0.6s ease forwards;
  }
}


.progress-skeleton {
  background-image: linear-gradient(90deg,
      var(--o-color-gray-700),
      var(--o-color-gray-600),
      var(--o-color-gray-700));
  background-size: 40px 100%; /* width of the shine */
  background-repeat: no-repeat; /* No need to repeat the shine effect */
  background-position: left -40px top 0;  /* Place shine on the left side, with offset on the left based on the width of the shine - see background-size */
  animation: shine 2s ease infinite;
}


.orbiter-card {
  background: rgba(255, 214, 214, 0.13) ;
  box-sizing: border-box;
  box-shadow: 0px 0px 48px 0px rgb(0, 0, 0);
  /* backdrop-filter: blur(72px); */
  position: relative;
  z-index: 1;
}

.card-shadow1 {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 999px;
  background: linear-gradient(195.11deg, rgb(255, 255, 255) 4.923%, rgba(255, 247, 196, 0.8) 88.778%);
  opacity: 0.23;
  width: 80px;
  height: 80px;
  filter: blur(34px);
  z-index: -1;
}

.card-shadow2 {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border-radius: 999px;
  filter: blur(34px);
  background: linear-gradient(206.57deg, rgba(247, 196, 255, 0.8), rgb(255, 53, 53) 93.498%);
  opacity: 0.42;
  width: 139px;
  height: 76px;
  z-index: -1;
}

.card-shadow3 {
  position: absolute;
  top: 120px;
  right: 0;
  filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
  width: 80px;
  height: 40px;
  z-index: -1;
}

.card-shadow4 {
  position: absolute;
  bottom: 120px;
  left: 0;
  filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
  width: 80px;
  height: 40px;
  z-index: -1;
}

@keyframes orbiter-modal-card-animation-mobile {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes orbiter-modal-card-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
