.o-prizes-reward {
    color: var(--o-prizes-reward-amount);
}

.o-prizes-pool {
    color: var(--o-prizes-pool-amount);
}

.o-prizes-pool-tx {
    color: var(--o-prizes-pool-tx-amount);
}

.o-prizes-desction {
    color: var(--o-color-desction);
}

.o-prizes-border {
    border-color: var(--o-prizes-card-border);
}

.o-prizes-module-border {
    border-color: var(--o-prizes-module-card-border);
}

.o-prizes-progress-bg {
    background: var(--o-prizes-color-progress-bg);
}

.o-prizes-task-bg {
    background-color: var(--o-prizes-task-bg);
}

.o-prizes-linear-text {
    background-image: linear-gradient(180deg, rgb(221, 218, 194), rgb(188, 109, 106));
}

.o-prizes-quests-bg {
    background: linear-gradient(180deg, rgba(36, 7, 54, 0.4) -30.142%, rgba(54, 13, 40, 0.4) 100%);
}

.o-licenses-possess {
    background: linear-gradient(176deg, rgb(255, 232, 181) 26.644%, rgb(255, 196, 125) 58.659%);
}

.o-licenses-not-possess {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
}

.o-prizes-reward-bg {
    background: linear-gradient(180deg, rgba(36, 7, 54, 0.4) -30.142%, rgba(54, 13, 40, 0.4) 100%);
}

.o-prizes-gift {
    border: 1px solid rgb(168, 50, 144);
    background: radial-gradient(
            96% 96% at 50% 50%,
            rgba(27, 21, 37, 0) 1.849%,
            rgba(255, 70, 68, 0.5) 100%
        ),
        rgb(18, 4, 30);
}

.o-prizes-modal-card {
    background: linear-gradient(180deg, rgb(36, 7, 54) -30.142%, rgb(54, 13, 40) 100%);
}

.o-prizes-modal-bg {
    background: linear-gradient(180deg, rgb(18, 8, 33) -30.142%, rgb(22, 10, 29) 100%);
}
