// ---------- theme variable ----------
:root {
  --dark-page-bg: #373951;
  --dark-page-box-bg: #3f415b;
  --dark-page-color: #fff;
  --dark-page-box-primary-color: #fff;
  --dark-page-box-color: rgba(255, 255, 255, 0.6);
  --light-page-bg: #fff;
  --light-page-box-bg: #f5f5f5;
  --light-page-color: #333;
}

@mixin obScrollbarLight {
  .ob-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }
  .ob-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
    background: rgba(51, 51, 51, 0.2);
  }
  // .ob-scrollbar::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 .5rem rgba(0,0,0,0.2);
  //   border-radius: 1rem;
  //   background: #EDEDED;
  // }
  &.ob-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }
  &.ob-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
    background: rgba(51, 51, 51, 0.2);
  }
}
@mixin obScrollbarDark {
  .ob-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }
  .ob-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.4);
  }
  // .ob-scrollbar::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 .5rem rgba(0,0,0,0.2);
  //   border-radius: 1rem;
  //   background: #535353;
  // }

  &.ob-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }
  &.ob-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.4);
  }
}

/* override the element component style */
.dark-body .el-notification {
  // width: 49rem;
  background-color: var(--dark-page-bg);
  border: 0.1rem solid var(--dark-page-bg);
  .el-notification__title {
    color: var(--dark-page-color);
  }
}

.dark-theme {
  &.app-mobile {
    .top-nav {
      .menu-outline {
        border: 0.1rem solid rgba(255, 255, 255, 0.2);
      }
      .drawer-body {
        background: var(--dark-page-bg);
      }
      .wallet-address {
        background: var(--dark-page-box-bg);
        color: var(--dark-page-box-color);
      }
    }
    .nav-item-border-bottom {
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }
    .nav-item-border-top {
      border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    }
  }
  background-size: 100% 36rem;
  background-color: #28293d;
  &.app {
    @include obScrollbarDark;
  }
  a {
    color: var(--dark-page-box-color);
  }
  // ---------- RaiseUpSelect component / start ----------
  .raiseup-select-box {
    background: rgba(51, 51, 51, 0.4);
    .raiseup-select-box-wrapper {
      color: #ffffff;
      .items {
        background: #373951;
        .item {
          &.selected {
            background: #3f415b;
          }
        }
      }
      .cancel {
        background: #373951;
      }
    }
  }
  // ---------- RaiseUpSelect component / end ----------
  // ---------- ObSelect component / start ----------
  .ob-select-box {
    background: var(--dark-page-box-bg);
    color: var(--dark-page-box-primary-color);
    .dialog {
      background: var(--dark-page-box-bg);
      box-shadow: 0rem 0.8rem 5rem rgba(0, 0, 0, 0.5);
      .select-item.selected {
        background: #28293d;
      }
      .select-item:hover {
        background: #28293d;
      }
    }
  }
  .ob-select-box:hover {
    background: #535571;
  }
  // ---------- ObSelect component / end ----------
  // ---------- ToggleBtn component / start ----------
  .toggle-btn-box {
    background: var(--dark-page-bg);
    color: var(--dark-page-box-color);
  }
  // ---------- ToggleBtn component / end ----------
  // ---------- bridage page / start ----------
  .bridage-page {
    .sender-box {
      background: var(--dark-page-bg);
    }
    .maker-box {
      background: var(--dark-page-bg);
      .maker-title {
        color: var(--dark-page-color);
      }
      .maker-content {
        color: var(--dark-page-box-color);
        .maker-foot-btn {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .pool-box {
      .options-item {
        background: var(--dark-page-bg);
        color: var(--dark-page-box-color);
      }
      .pool-overview {
        background: var(--dark-page-bg);
        color: var(--dark-page-box-color);
        // .token-name {
        //   color: var(--dark-page-box-color);
        // }
      }
    }
  }
  // ---------- bridage page / end ----------
  // ---------- transfer component / start ----------
  .transfer-box {
    color: var(--dark-page-box-color);
    .top-area {
      .title {
        color: #fff;
      }
    }
    .from-area,
    .to-area {
      background: var(--dark-page-box-bg);
      color: var(--dark-page-box-color);
      .bottomItem {
        input::placeholder {
          color: rgba(255, 255, 255, 0.2) !important;
        }
        .maxBtn {
          color: #1dfff1;
        }
        .right {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
    .info-box {
      .info-item {
        .border {
          border-right: 0.1rem solid #888;
        }
      }
    }
  }
  // ---------- transfer component / end ----------
  // ---------- ObSelectChain component / start ----------
  .obSelectChainBody {
    background-color: var(--dark-page-box-bg);
    box-shadow: 0rem 0.8rem 5rem rgba(0, 0, 0, 0.5);
    color: #fff;
    .selectChainContent {
      .input {
        background-color: #28293d;
        color: #fff;
      }
      input::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }
    }
    .contentItem {
      color: #fff;
    }
    .contentItem:hover {
      background: #28293d;
    }
  }
  // ---------- ObSelectChain component / end ----------
  // ---------- HeaderDialog component / start ----------
  .header-dialog-box {
    background: rgba(51, 51, 51, 0.4);
    .header-dialog-box-wrapper {
      background: var(--dark-page-bg);
      color: var(--dark-page-color);
      .wallet-item-title {
        color: var(--dark-page-box-color);
      }
    }
  }
  // ---------- HeaderDialog component / end ----------
  // ---------- HeaderOps component / start ----------
  .header-ops {
    .ops-mode {
      background: var(--dark-page-box-bg);
    }
    .ops-item:not(.not-mode) {
      background: var(--dark-page-box-bg);
      color: var(--dark-page-box-color);
    }
  }
  // ---------- HeaderOps component / end ----------
  // ---------- HeaderLinks component / start ----------
  .header-links-box {
    color: var(--dark-page-box-color);
  }
  // ---------- HeaderLinks component / end ----------
  // ---------- BottomNav component / start ----------
  .bottom-nav {
    .terms {
      color: rgba(255, 255, 255, 0.4);
    }
    .terms:hover {
      color: rgba(255, 255, 255, 0.8);
      // color: var(--dark-page-color);
    }
  }
  // ---------- BottomNav component / end ----------
  // ---------- GifLoading component / start ----------
  .gif-loading-box {
    .gif-wrap {
      background: #fff;
    }
    .gif-loading {
      background-image: url('../assets/v2/dark-loading.gif');
    }
  }
  // ---------- GifLoading component / end ----------
  // ---------- Confirm component / start ----------
  .confirm-box {
    background: var(--dark-page-bg);
    color: var(--dark-page-color);
    .confirm-item {
      .item-right {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  // ---------- Confirm component / end ----------
  // ---------- CommBoxHeader component / start ----------
  .comm-box-header {
    color: var(--dark-page-color);
  }
  // ---------- CommBoxHeader component / end ----------
  // ---------- Proceed component / start ----------
  .proceed-box {
    background: var(--dark-page-bg);
    color: var(--dark-page-color);
    .ProceedContent {
      .chainDataContent {
        background: var(--dark-page-box-bg);
      }
      .contentItem {
        .item-title {
          color: #fff;
        }
        .item-value {
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .chainDataContent {
        .item {
          .chain-name {
            color: var(--dark-page-box-primary-color);
            .label {
              color: var(--dark-page-box-color);
            }
          }
          .tx {
            color: var(--dark-page-box-primary-color);
          }
          .switch-btn {
            border: 0.1rem solid rgba(255, 255, 255, 0.4);
            color: var(--dark-page-box-color);
          }
        }
        .middle-icon,
        .middle-icon-abs {
          .rocket-box-bg {
            background-image: url('../assets/v2/dark-rocket.gif');
          }
        }
      }
    }
  }
  // ---------- Proceed component / end ----------
  // —————————— allNetworkPool component / start ----------
  .history-page {
    .history-content {
      background: var(--dark-page-box-bg);
      color: var(--dark-page-box-color);
      .table {
        .allNetworkPool-body {
          background: #4b4d64;
          color: var(--dark-page-box-color);
        }
      }
    }
    .historyContent {
      .contentItem {
        color: var(--dark-page-box-color);
      }
      .contentItem:hover {
        background: #f5f5f5;
      }
    }
  }
  // —————————— allNetworkPool component / end ----------
}

.light-theme {
  background-size: 100% 27.4rem;
  &.app-mobile {
    background-color: #ececf0;
    .menu-outline {
      border: 0.1rem solid rgba(51, 51, 51, 0.2);
    }
    .top-nav {
      .drawer-body {
        background: var(--light-page-box-bg);
      }
      .wallet-address {
        background: var(--light-page-bg);
        color: rgba(51, 51, 51, 0.8);
      }
    }
    .nav-item-border-bottom {
      border-bottom: 0.1rem solid rgba(51, 51, 51, 0.2);
    }
    .nav-item-border-top {
      border-top: 0.1rem solid rgba(51, 51, 51, 0.2);
    }
  }
  &.app {
    @include obScrollbarLight;
  }
  // &.app {
  //   background-color: #F5F5F5;
  // }
  a {
    color: var(--light-page-color);
  }
  // ---------- RaiseUpSelect component / start ----------
  .raiseup-select-box {
    background: rgba(51, 51, 51, 0.2);
    .raiseup-select-box-wrapper {
      color: rgba(51, 51, 51, 0.8);
      .items {
        background: #ffffff;
        .item {
          &.selected {
            background: #f5f5f5;
          }
        }
      }
      .cancel {
        background: #fff;
      }
    }
  }
  // ---------- RaiseUpSelect component / end ----------
  // ---------- ObSelect component / start ----------
  .ob-select-box {
    background: var(--light-page-box-bg);
    color: var(--light-page-color);
    .dialog {
      background: var(--light-page-bg);
      box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.16);
      .select-item.selected {
        background: var(--light-page-box-bg);
      }
      .select-item:hover {
        background: var(--light-page-box-bg);
      }
    }
  }
  .ob-select-box:hover {
    background: #eee;
  }
  // ---------- ObSelect component / end ----------
  // ---------- ToggleBtn component / start ----------
  .toggle-btn-box {
    background: var(--light-page-bg);
    color: rgba(51, 51, 51, 0.8);
  }
  // ---------- ToggleBtn component / end ----------
  // ---------- bridage page / start ----------
  .bridage-page {
    .sender-box {
      background: var(--light-page-bg);
    }
    .maker-box {
      background: var(--light-page-bg);
      .maker-title {
        color: var(--light-page-color);
      }
      .maker-content {
        color: rgba(51, 51, 51, 0.8);
        .maker-foot-btn {
          background: rgba(51, 51, 51, 0.2);
        }
      }
    }
    .pool-box {
      // background:var(--light-page-bg);
      .options-item {
        background: var(--light-page-bg);
        color: #333333;
      }
      .pool-overview {
        background: var(--light-page-bg);
        .line-content {
          &:nth-last-child(2) .content-value {
            color: #5ec2b7;
          }
          .content-item {
            color: rgba(51, 51, 51, 0.8);
          }
          .content-value {
            color: #333333;
          }
        }
        // .token-name {
        //   color: #333333;
        // }
      }
    }
  }
  // ---------- bridage page / end ----------
  // ---------- transfer component / start ----------
  .transfer-box {
    color: rgba(24, 25, 31, 0.7);
    .top-area {
      .title {
        color: var(--light-page-color);
      }
    }
    .from-area,
    .to-area {
      background: var(--light-page-box-bg);
      color: rgba(51, 51, 51, 0.8);
      .bottomItem {
        input::placeholder {
          color: rgba(51, 51, 51, 0.2) !important;
        }
        .maxBtn {
          color: #3183ff;
        }
        .right {
          color: rgba(51, 51, 51, 0.8);
        }
      }
    }
    .info-box {
      .info-item {
        .border {
          border-right: 0.1rem solid #ccc;
        }
      }
    }
  }
  // ---------- transfer component / end ----------
  // ---------- ObSelectChain component / start ----------
  .obSelectChainBody {
    background-color: var(--light-page-bg);
    box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.16);
    color: var(--light-page-color);
    .selectChainContent {
      .input {
        background-color: var(--light-page-box-bg);
        color: var(--light-page-color);
      }
      input::placeholder {
        color: rgba(51, 51, 51, 0.4);
      }
    }
    .contentItem {
      color: var(--light-page-color);
    }
    .contentItem:hover {
      background: var(--light-page-box-bg);
    }
  }
  // ---------- ObSelectChain component / end ----------
  // ---------- HeaderDialog component / start ----------
  .header-dialog-box {
    background: rgba(51, 51, 51, 0.2);
    .header-dialog-box-wrapper {
      background: var(--light-page-bg);
      color: var(--light-page-color);
      .wallet-item-title {
        color: rgba(51, 51, 51, 0.8);
      }
    }
  }
  // ---------- HeaderDialog component / end ----------
  // ---------- HeaderOps component / start ----------
  .header-ops {
    .ops-mode {
      background: var(--light-page-bg);
    }
    .ops-item:not(.not-mode) {
      background: var(--light-page-bg);
      color: rgba(51, 51, 51, 0.8);
    }
  }
  // ---------- HeaderOps component / end ----------
  // ---------- HeaderLinks component / start ----------
  .header-links-box {
    color: rgba(51, 51, 51, 0.8);
  }
  // ---------- HeaderLinks component / end ----------
  // ---------- BottomNav component / start ----------
  .bottom-nav {
    .terms {
      color: rgba(51, 51, 51, 0.4);
    }
    .terms:hover {
      color: rgba(51, 51, 51, 0.8);
      // color: rgb(51, 51, 51);
    }
  }
  // ---------- BottomNav component / end ----------
  // ---------- GifLoading component / start ----------
  .gif-loading-box {
    .gif-wrap {
      background: rgba(51, 51, 51);
    }
    .gif-loading {
      background-image: url('../assets/v2/light-loading.gif');
    }
  }
  // ---------- GifLoading component / end ----------
  // ---------- Confirm component / start ----------
  .confirm-box {
    background: var(--light-page-bg);
    color: var(--light-page-color);
    .confirm-item {
      .item-right {
        color: rgba(51, 51, 51, 0.4);
      }
    }
  }
  // ---------- Confirm component / end ----------
  // ---------- CommBoxHeader component / start ----------
  .comm-box-header {
    color: #333;
  }
  // ---------- CommBoxHeader component / end ----------
  // ---------- Proceed component / start ----------
  .proceed-box {
    background: var(--light-page-bg);
    color: var(--light-page-color);
    .ProceedContent {
      .chainDataContent {
        background: var(--light-page-box-bg);
      }
      .contentItem {
        .item-title {
          color: #333;
        }
        .item-value {
          color: #5c5c5c; //rgba(51, 51, 51, 0.6)
        }
      }
      .chainDataContent {
        .item {
          .chain-name {
            color: var(--light-page-color);
            .label {
              color: rgba(51, 51, 51, 0.8);
            }
          }
          .tx {
            color: var(--light-page-color);
          }
          .switch-btn {
            border: 0.1rem solid rgba(51, 51, 51, 0.4);
            color: rgba(51, 51, 51, 0.8);
          }
        }
        .middle-icon,
        .middle-icon-abs {
          .rocket-box-bg {
            background-image: url('../assets/v2/light-rocket.gif');
          }
        }
      }
    }
  }
  // ---------- Proceed component / end ----------
  // —————————— AddLiquidityDialog component / start ----------
  .dialog-bg {
    background: rgba(51, 51, 51, 0.2);
    .add-liquidity-dialog {
      background: var(--light-page-bg);
      color: var(--light-page-color);
      box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.16);
      .add-liquidity-content {
        .liquidity-network {
          .liquidity-value {
            background: var(--light-page-box-bg);
            color: var(--light-page-color);
            &:hover {
              background: #eee;
            }
          }
        }
        .liquidity-token {
          .liquidity-value {
            background: var(--light-page-box-bg);
            color: rgba(51, 51, 51, 0.8);
            .bottomItem {
              input::placeholder {
                color: rgba(51, 51, 51, 0.2) !important;
              }
              .maxBtn {
                color: #3183ff;
              }
              .right {
                color: rgba(51, 51, 51, 0.8);
              }
            }
          }
        }
      }
    }
  }

  // —————————— AddLiquidityDialog component / end ----------
  // —————————— allNetworkPool component / start ----------
  .history-page {
    .history-content {
      background: var(--light-page-bg);
      color: var(--light-page-color);
      .tip {
        .tip-content {
          color: rgba(51, 51, 51, 0.8);
        }
      }
      .table {
        .allNetworkPool-body {
          background: var(--light-page-box-bg);
          color: rgba(51, 51, 51, 0.8);
          .table-header {
            color: #333333;
          }
          .addNetworkPool-main {
            .col-value {
              color: rgba(51, 51, 51, 0.8);
              &:nth-last-child(2) {
                color: #5ec2b7;
              }
            }
          }
        }
      }
    }
    .historyContent {
      .contentItem {
        color: var(--light-page-color);
      }
      .contentItem:hover {
        background: #f5f5f5;
      }
    }
  }
  // —————————— allNetworkPool component / end ----------
}
