@keyframes shine {
  to {
    /* Move shine from left to right, with offset on the right based on the width of the shine - see background-size */
    background-position: right -40px top 0;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes o-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes o-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}